{% load i18n %}
<div class="d-flex flex-column">
  <div class="row mt-2 mb-2">
    <div class="col-3">
      <select id="order" class="form-select">
        <option name="order" value="">{% trans "Select method of sort" %}</option>
        <option name="order" value="start_price">{% trans "On cost up" %}</option>
        <option name="order" value="-start_price">{% trans "On cost down" %}</option>
        <option name="order" value="name">{% trans "On naming up" %}</option>
        <option name="order" value="-name">{% trans "On naming down" %}</option>
      </select>
    </div>
    <div class="col-3">
      <select id="status" class="form-select">
        <option name="status" value="" selected>{% trans "Select method of filter by status" %}</option>
        <option name="status" value="FINISHED">{% trans "Finished" %}</option>
        <option name="status" value="IN_PROCCESS">{% trans "In proccess" %}</option>
      </select>
    </div>
  </div>
  
  <div class="row">
    {% if lots %}
      {% for item in lots %}
          <div class="card my-3 col-3">
            <a href="{% url 'lots:details' item.pk %}">
              <img src="{{ item.images.first.image.url }}" class="card-img-top">
            </a>
            <div class="card-body">
              <a href="{% url 'lots:details' item.pk %}" class="text-decoration-none text-dark">
                <h5 class="card-title">{{ item.name }}</h5>
              </a>
              <p class="card-text">{{ item.description }}</p>
              <a href="{% url 'lots:details' item.pk %}" class="btn btn-primary">{% trans "Buy" %}</a>
              <h5>{{ item.start_price }}</h5>
            </div>
          </div>
      {% endfor %}
    {% else %}
        <p>{% trans "Nothing found" %}</p>
    {% endif %}
  </div>
  <nav>
    <ul class="pagination">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
        <li class="page-item">
            <button class="page-link prev-arrow" data-page="{{ page_obj.previous_page_number }}">
              <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item">
          <button class="page-link prev-page" data-page="{{ page_obj.previous_page_number }}">
            {{ page_obj.previous_page_number }}
          </button>
        </li>
        {% endif %}

        <li class="page-item active">
          <button class="page-link" data-page="{{ page_obj.number }}">
            {{ page_obj.number }}
          </button>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <button class="page-link next-page" data-page="{{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}
          </button>
        </li>
        <li class="page-item">
          <button class="page-link next-arrow" data-page="{{ page_obj.next_page_number }}">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>
</div>